################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SignalRDemo/obj
/SignalRDemo/node_modules
/SignalRDemo/bin/Debug/netcoreapp2.0
/.vs/SignalRDemo/v15/Server/sqlite3
